.border1{

        border:5px solid blue;
        margin: 20px 25px;
        height: 10%;
        width: 15%;
        float: left;

        }

body{

    background-color: rgb(211, 49, 49);

    }         

#img{

    height: 15px;
    width: 15px;

    }    
       